body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, p {
  margin: 0; }

.page_wrapper {
  padding: 10px;
  z-index: 100; }

.Splash {
  background-image: linear-gradient(to left top, #72bfa5, #6bc895, #72ce7d, #86d35c, #a2d531);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff; }
  .Splash img {
    width: 15rem; }
  .Splash .clock {
    padding-top: 50px;
    text-align: center; }
    .Splash .clock h1 {
      font-size: 3rem;
      margin-top: 0.5rem; }
  .Splash .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem 0 2rem; }

.SidebarNavigation button {
  color: '#000';
  height: 70px;
  width: 70px;
  font-size: 1.3rem;
  background: none;
  border: none;
  outline: none; }

.SidebarNavigation .bar {
  background-color: #fff;
  padding: 70px 0 5rem 0; }

.SidebarNavigation a {
  color: #202020;
  text-decoration: none; }

.SidebarNavigation li {
  list-style-type: none;
  padding: 1rem 7rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .SidebarNavigation li.active {
    border-left: 3px solid #72BFA5;
    background-color: #f0f8f6; }

.SidebarNavigation img {
  width: 1.4rem;
  margin-right: 1rem; }

.Header {
  z-index: 100;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1); }
  .Header img {
    width: 6rem; }

.GhostButton {
  border: 2px solid #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 200rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  text-decoration: none;
  transition: all 150ms ease-in-out; }
  .GhostButton:last-child {
    margin-top: 1rem; }
  .GhostButton:hover {
    background-color: #fff;
    color: #72BFA5;
    -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3); }

.SwitchButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem; }
  .SwitchButton span {
    font-weight: bold; }

.OkButton {
  background-color: #72BFA5;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  outline: none;
  transition: all 150ms ease-in-out; }
  .OkButton:hover, .OkButton:active {
    background-color: #3f8c72; }

.Appointment {
  -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  .Appointment header {
    background-image: url("/images/backgrounds/work.jpg");
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .Appointment .content {
    padding: 20px; }
  .Appointment .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .Appointment .info {
    padding: 1rem 0; }
    .Appointment .info div:last-child p {
      margin-top: 0.5rem; }
  .Appointment h2 {
    color: #72BFA5;
    font-size: 18px;
    font-size: 'Roboto-Bold', sans-serif; }
  .Appointment p {
    color: #A2A2A2;
    font-size: 12px;
    font-style: italic; }

.WarningBox {
  background-color: #FFE066;
  padding: 1rem; }
  .WarningBox h2 {
    color: #838383;
    font-size: 18px;
    font-size: 'Roboto-Bold', sans-serif; }
  .WarningBox p {
    color: #A2A2A2;
    font-size: 14px;
    margin-top: 0.5rem; }

.ManualBox {
  padding: 1rem; }
  .ManualBox input[type='time'] {
    border: none;
    border-bottom: 1px solid #72BFA5;
    background: none;
    color: #72BFA5;
    width: 40%;
    margin-top: 0.7rem;
    outline: none;
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif; }
  .ManualBox .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .ManualBox .days {
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    font-weight: bold; }
    .ManualBox .days p {
      color: #72BFA5;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 200rem;
      line-height: 0;
      background-color: #fff;
      transition: all 250ms ease-in-out; }
      .ManualBox .days p.active {
        background-color: #e2f2ed; }

.SubTitle {
  color: #000; }
