body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

h1, h2, p {
  margin: 0; }

.page_wrapper {
  padding: 0.5rem 0;
  width: 95%;
  margin: 0 auto;
  z-index: 100; }

.content_wrapper {
  width: 85%;
  margin: 0 auto; }

.Splash {
  background-image: linear-gradient(-45deg, #72bfa5, #6bc895, #72ce7d, #86d35c, #a2d531);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-size: 250% 250%;
  animation: Gradient 8s ease infinite; }
  .Splash img {
    width: 15rem; }
  .Splash .clock {
    padding-top: 50px;
    text-align: center; }
    .Splash .clock h1 {
      font-size: 3rem;
      margin-top: 0.5rem; }
  .Splash .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem 0 2rem; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.Dashboard {
  padding-bottom: 3rem; }

.SideNavigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden; }
  .SideNavigation.open {
    visibility: visible; }
    .SideNavigation.open ul {
      width: 100%; }
    .SideNavigation.open .overlay {
      display: block;
      opacity: 1; }
  .SideNavigation .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0;
    display: none;
    transition: opacity 500ms ease-in-out 3s; }
  .SideNavigation button {
    color: '#000';
    height: 70px;
    width: 70px;
    font-size: 1.3rem;
    background: none;
    border: none;
    outline: none;
    visibility: visible; }
  .SideNavigation ul {
    background-color: #fff;
    padding: 1rem 0 0 0;
    margin: 0;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    width: 0;
    white-space: nowrap; }
  .SideNavigation a {
    color: #202020;
    text-decoration: none; }
  .SideNavigation li {
    list-style-type: none;
    padding: 1rem 5rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .SideNavigation li.active {
      border-left: 3px solid #72BFA5;
      background-color: #f0f8f6; }
  .SideNavigation img {
    width: 1.4rem;
    margin-right: 1rem; }

.Header {
  z-index: 100;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.1); }
  .Header img {
    width: 6rem; }

.GhostButton {
  border: 2px solid #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 200rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  text-decoration: none;
  transition: all 150ms ease-in-out; }
  .GhostButton:last-child {
    margin-top: 1rem; }
  .GhostButton:hover {
    background-color: #fff;
    color: #72BFA5;
    -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3); }

.SwitchButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem; }
  .SwitchButton label {
    z-index: -10 !important; }
  .SwitchButton span {
    font-weight: bold; }

.OkButton {
  background-color: #72BFA5;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  outline: none;
  transition: all 150ms ease-in-out; }
  .OkButton:hover, .OkButton:active {
    background-color: #3f8c72; }

.Appointment {
  -webkit-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  .Appointment header {
    background-image: url("/images/backgrounds/work.jpg");
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .Appointment .content {
    padding: 20px; }
  .Appointment .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .Appointment .info {
    padding: 1rem 0; }
    .Appointment .info div:last-child p {
      margin-top: 0.5rem; }
  .Appointment h2 {
    color: #72BFA5;
    font-size: 18px;
    font-size: 'Roboto-Bold', sans-serif; }
  .Appointment p {
    color: #A2A2A2;
    font-size: 12px;
    font-style: italic; }
  .Appointment .loaderBig {
    width: 100%; }

.WarningBox {
  background-color: #FFE066;
  padding: 1rem; }
  .WarningBox h2 {
    color: #838383;
    font-size: 18px;
    font-size: 'Roboto-Bold', sans-serif; }
  .WarningBox p {
    color: #A2A2A2;
    font-size: 14px;
    margin-top: 0.5rem; }

.ManualBox {
  padding: 1rem; }
  .ManualBox input[type='time'] {
    border: none;
    border-bottom: 1px solid #72BFA5;
    background: none;
    color: #72BFA5;
    width: 40%;
    margin-top: 0.7rem;
    outline: none;
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif; }
  .ManualBox .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .ManualBox .days {
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    font-weight: bold; }
    .ManualBox .days p {
      color: #72BFA5;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 200rem;
      line-height: 0;
      background-color: #fff;
      transition: all 250ms ease-in-out; }
      .ManualBox .days p.active {
        background-color: #e2f2ed; }

.SubTitle {
  color: #000; }

.SmallSectionTitle {
  font-weight: bolder;
  color: #72BFA5; }

.Sectionheading {
  background-image: linear-gradient(-45deg, #72bfa5, #6bc895, #72ce7d, #86d35c, #a2d531);
  color: #fff;
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem; }

.GoogleCalendarSection .titleSection, .GoogleMapsSection .titleSection, .SpotifySection .titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0; }
  .GoogleCalendarSection .titleSection img, .GoogleMapsSection .titleSection img, .SpotifySection .titleSection img {
    width: 1.4rem;
    margin-right: 1rem; }
  .GoogleCalendarSection .titleSection div, .GoogleMapsSection .titleSection div, .SpotifySection .titleSection div {
    display: flex;
    align-items: center; }
  .GoogleCalendarSection .titleSection label, .GoogleMapsSection .titleSection label, .SpotifySection .titleSection label {
    padding: 0; }

.GoogleMapsSection {
  margin-top: 2rem; }

.SpotifySection {
  margin-top: 2rem; }

.Paragraph {
  color: #A2A2A2;
  font-size: 0.9rem; }
