.WarningBox 
{
    background-color: $warning;

    h2
    {
        color: rgb(131, 131, 131);
        font-size: 18px;
        font-size: 'Roboto-Bold', sans-serif;
    }

    p 
    {
        color: $alto;
        font-size: 14px;
        margin-top: 0.5rem;
    }

        // Phone
        @media only screen and (max-width: 768px) 
        {
            padding: 1.5rem;
        }
    
        // Tablet
        @media only screen and (min-width: 768px) 
        {
            
            padding: 1.5rem;
        }
    
        // Desktop
        @media only screen and (min-width: 992px) 
        {
            
            padding: 2rem;
        }
    
        // Large desktop
        @media only screen and (min-width: 1200px) 
        {
            padding: 3rem;
        }
}