.Appointment 
{
    -webkit-box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.3);
    border-radius: 10px;

    header 
    {
        background-image: url('/images/backgrounds/work.jpg');
        width: 100%;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        // Phone
        @media only screen and (max-width: 768px) 
        {
            height: 18rem;            
        }

        // Tablet
        @media only screen and (min-width: 768px) 
        {
            
            height: 20rem;            
        }

        // Desktop
        @media only screen and (min-width: 992px) 
        {
            
            height: 25rem;
        }

        // Large desktop
        @media only screen and (min-width: 1200px) 
        {
            height: 25rem;
        }
    }

    .content 
    {
        padding: 20px;
    }

    .top 
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .info 
    {
        padding: 1rem 0;

        div
        {
            &:last-child 
            {
                p 
                {
                    margin-top: 0.5rem;
                }
            }
        }
    }

    h2  
    {
        color: $accent;
        font-size: 18px;
        font-size: 'Roboto-Bold', sans-serif;
    }

    p 
    {
        color: $alto;
        font-size: 12px;
        font-style: italic;
    }

    .loaderBig 
    {
        width: 100%;
    }
}