body, html 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, p 
{
    margin: 0;
}

.page_wrapper 
{
    padding: 0.5rem 0 3rem 0;
    width: 95%;
    margin: 0 auto;
    z-index: 100;

    // Phone
    @media only screen and (max-width: 768px) 
    {
        width: 95%;
    }

    // Tablet
    @media only screen and (min-width: 768px) 
    {
        width: 90%;
        padding: 2rem 0 3rem 0
    }

    // Desktop
    @media only screen and (min-width: 992px) 
    {
        width: 992px;
        padding: 4rem 0 3rem 0
    }

    // Large desktop
    @media only screen and (min-width: 1200px) 
    {
        width: 900px;
        padding: 4rem 0 3rem 0
    }
}

.content_wrapper 
{
    width: 85%;
    margin: 0 auto;
}