.HomePage 
{
    /*padding: 1.2rem;*/
    background-color: $background_grey;
    
    .main
    {   
        
        background-image: linear-gradient(
            to top, 
            #fcd0a2, 
            #f8d5a6, 
            #f4dbab, 
            #f0dfb0, 
            #ece4b7
        );
        /*min-height: calc(100vh - 75px - 8.4rem);*/
        /*border-radius: 10px;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /*padding: 3rem;*/
        height: 680px;
    
        .title-header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 150px;

            h5 {
                margin-top: 0;
            }
        }
    }

    .Heading 
    {
        text-align: center;
    }
    

}