.Discover {
    .main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 50px;
            text-align: center;
            font-size: 50px;
            font-family: 'Roboto Slab', sans-serif;
            font-weight: 700;
            color: $midnight_green;
        }

        .underline {
            width: 100px;
            height: 4px;
            background: linear-gradient(to right, #0F5257 25%,#72BFA5 25%, #72BFA5 50%, #0F5257 50%, #0F5257 75%, #72BFA5 75%);
        }
        .all-discover-cards {
            margin: 50px 0;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            .discover-card {
                max-width: 240px;
                padding: 50px 30px;
                height: 325px;
                margin: 30px 20px;
                background-color: #fff;
                box-shadow: 0 10px 16px 0 rgba(0,0,0,0.02),0 6px 20px 0 rgba(0,0,0,0.02) !important;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                background-color: #fff;
                color: black;
                border-radius: 5px;

                .card-logo {
                    max-width: 100%;
                    display: flex;
                    justify-content: center;
                    top: 0;
                    height: 50%;

                    img {
                        display: inline-block;
                        position: relative;
                        bottom: 0;
                        width: 50%;
                    }
                }

                .card-title {
                    margin: 20px 0 20px 0;
                    font-size: 32px;
                    font-weight: 500;
                    height: 25%;
                    color: $midnight_green;
                }

                .card-text {
                    margin-top: 0;
                    height: 20%;
                }
            }
        }
    }
}

.discover-wrapper {
    margin: 1.2rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: $background_grey;
}



/* ////////// MEDIA SCREENS ////////// */

@media screen and (max-width: 1424px) {
    .Discover {
        .main {
            .all-discover-cards {
                flex-wrap: wrap;

                .discover-card {
                    margin: 30px 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1424px) {
    .Discover {
        .main {
            .all-discover-cards {
                flex-wrap: nowrap;

                .discover-card {
                    margin: 30px 1.56%;
                }
            }
        }
    }
}


/* ////////// ANIMATION ////////// */

#clock:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

#snooze:hover {
    animation: snooze 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

#spotify:hover {
    animation: soundwaves 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: scale(0, 0, 0);
}

#transport:hover {
    animation: soundwaves 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: scale(0, 0, 0);
}

#calendar {
    transition: transform 1s;
}

#calendar:hover {
    transform: translateY(-20px);
}


/* ////////// KEYFRAMES ////////// */

@keyframes snooze {
  10% {
    transform: translate3d(0, -1px, 0);
  }
  
  20% {
    transform: translate3d(0, 2px, 0);
  }

  30% {
    transform: translate3d(0, -4px, 0);
  }

  40% {
    transform: translate3d(0, 4px, 0);
  }

  50% {
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes soundwaves {
  10%, 90% {
    transform: scale(0.98, 0.98);
  }
  
  20%, 80% {
    transform: scale(1.02, 1.02);
  }

  30%, 50%, 70%  {
    transform: scale(0.95, 0.95);
  }

  40%, 60% {
    transform: scale(1.05, 1.05);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes move {
  10%, 90% {
    transform: rotate(2.5deg,2.5deg);
  }
  
  20%, 80% {
    transform: rotate(5deg,5deg);
  }

  30%, 50%, 70% {
    transform: rotate(-10deg,-10deg);
  }

  40%, 60% {
    transform: rotate(10deg,10deg);
  }
}