body {
  background-color: #000000;
  margin: 0;
  padding: 0; }

h1, h3 {
  margin: 0;
  padding: 0; }

.all {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.BigClock h1 {
  font-family: 'Digital-7 Mono';
  color: #C7C7C7;
  font-size: 5.25rem;
  font-weight: lighter; }

.Alarm div {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Alarm img {
  width: 1.188rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  flex-grow: 1; }

.Alarm h3, .Alarm h5 {
  font-family: 'Digital-7 Mono';
  color: #C7C7C7;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 0.5rem; }

.Alarm h5 {
  font-size: 1.5rem;
  margin-bottom: 0rem; }

.NotificationsOverview {
  display: flex;
  margin-top: 3rem; }

.Notification {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Notification img {
  width: 2.5rem;
  margin: 0 0.6rem; }

.Notification p {
  font-size: 18px;
  font-family: 'Roboto';
  color: #C7C7C7;
  margin-top: 0.5rem; }
