body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $background_grey;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    color: $midnight_green;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 21px;
}