.Alarm 
{
    & { display: flex; flex-direction: column; align-items: center }

    img { width: 1.188rem; margin-top: 1.25rem; flex-grow: 1; } 

    h3 { font-family: 'Digital-7'; color: $text-color; font-size: 1.5rem; font-weight: lighter; margin-top: 0.5rem; }
}