.Alarm 
{
    div
    { 
        display: flex; 
        flex-direction: column; 
        align-items: center
    }

    img 
    { 
        width: 1.188rem; 
        margin-top: 1rem; 
        margin-bottom: 0.3rem;
        flex-grow: 1; 
    } 

    h3, h5
    { 
        font-family: 'Digital'; 
        color: $text-color; 
        font-size: 1.5rem; 
        font-weight: lighter; 
        margin-top: 0.5rem; 
    }

    h5 
    {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }
}