.Overlay 
{
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    opacity: 0;
    cursor: none;

    &.dark 
    {
        opacity: .5;
    }
}