.Heading 
{
    color: $snow;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: inline-block;
    transition: all 100ms ease-in-out;

    &.h--darker 
    {
        color: $coal;
    }

    &.h--large 
    {
        font-size: $heading-l;
    }

    &.h--medium 
    {
        font-size: $heading-m;
    }

    &.h--small
    {
        font-size: $heading-s;
    }
}