.Heading 
{
    color: $snow;
    font-family: 'Roboto', sans-serif;

    &.h--darker 
    {
        color: $coal;
    }

    &.h--large 
    {
        font-size: $heading-l;
    }

    &.h--medium 
    {
        font-size: $heading-m;
    }

    &.h--small
    {
        font-size: $heading-s;
    }
}