// Greyscale
$snow:      #fff;
$coal:      #404142;

// Accent
$sandy:     #FC9F5B;
$tuscan:    #FBD1A2;
$dutch:     #ECE4B7;
$pearl:     #7DCFB6;
$ufo:       #33CA7F;

$snoozy_green: 		#72BFA5;
$midnight_green: 	#0F5257;

$orange_yellow: 	#F4D06F;
$brass: 			#B39C4D;
$rusty_red: 		#DA2C38;

$background_grey: 	#F8F8F8;
$icon_grey: 		#CBCBCB

