.GoogleCalendarSection 
{
    .titleSection 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        img 
        {
            width: 1.4rem;
            margin-right: 1rem;
        }

        div 
        {
            display: flex;
            align-items: center;
        }

        label 
        {
            padding: 0;
        }
    }
}